h2 {
    color: red;
}

.special {
    color: green;
}

#contents {
    border: dashed darkred 1px;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a.contents-item {
    display: block;
}

#stats-passwd {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}